@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
*,
::before,
::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Space Mono', monospace;
}

:root {
  --btn-primary-bg: #0079FF;
  --btn-primary-hover-bg: #60ABFF;
  --no-result-color: #F74646;

  /*==== Light theme colors ====*/
  --body-bg-color: #F6F8FF;
  --inner-bg-color:#FEFEFE;
  --logo-color:#222731;
  --secondry-text-color:#697C9A;
  --secondry-heading-color:#2B3442;

}

:root body.dark-theme {
  --body-bg-color: #141D2F;
  --inner-bg-color:#1E2A47;
  --logo-color: #FFF;
  --secondry-text-color:#FFF;
  --secondry-heading-color:#FFF;
}

body {
    font-family: 'Space Mono', monospace;
    font-size: 16px;
    background-color: var(--body-bg-color);
    transition: background-color 300ms ease-in-out;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 750px;
}


/* Header */
.container .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--logo-color);
}
.header .light-dark{
    cursor: pointer;
    transition: ease-in 0.3s;
}
.header .light-dark:hover {
    opacity: 0.5;
    transition: ease-in 0.3s;
}
/* Header End */


/* Main */
.search-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--inner-bg-color);
    padding: 20px;
    border-radius: 15px;
    height: 80px;
    margin-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.search-container input {
    width: 100%;
    height: 80px;
    border: none;
    background-color: var(--inner-bg-color);
    color: var(--secondry-text-color);
    font-size: 17px;
    padding: 15px;
}
.search-container input:focus{
    outline: none;
    color: var(--secondry-text-color);
}
.search-container button {
    width: 120px;
    height: 100%;
    background-color: var(--btn-primary-bg);
    color: #FFF;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}
.search-container button:active{
    transform: scale(0.95);
    /* box-shadow: 0 3px 10px -1px; */
}

.main-content{
    margin-top: 30px;
    background-color: var(--inner-bg-color);
    border-radius: 15px;
    padding: 40px;
    min-height: 450px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.profile-section{
    display: flex;
    justify-content: space-between;
    color: #FFF;
    gap: 20px;
}
.media {
    display: flex;
    justify-content: space-between;
   width: 100%;
}
.profile-section a {
    text-decoration: none;
    color: #0079FF;
}
.profile-section p {
    margin-top: 20px;
}
.profile-section {
    color: var(--logo-color);
}


.github {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    margin-top: 40px;
}
.github-rep {
    display: flex;
    justify-content: space-between;
    width: 80%;
    background-color: var(--body-bg-color);
    padding: 20px 30px;
    border-radius: 15px;
    color: var(--logo-color);
}
.github-rep p{
    font-weight: 700;
    font-size: 23px;
}
.github-rep span{
    font-weight: 400;
    font-size: 13px;
}
.footer-content {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em 1.5em;
    color: var(--logo-color);
}

.social a {
    text-decoration: none;
    color: var(--logo-color);
    transition: ease-in 0.3s;
}
.social {
    width: 230px;
}
.social a:hover{
    border-bottom: 1px solid #FFF;
    transition: ease-in 0.3s;
}
.social.not-available {
    color: darkgray;
}
.not-available::after{
    content: 'Not Available';
}


/* Main End */


@media screen and (max-width:600px){
    .container {
        width: 550px;
    }
    .github-rep {
        width: 100%;
    }
    .footer-content{
        width: 100%;
        font-size: 80%;
        font-weight: 700;

    }
}

@media screen and (max-width: 550px){
    html {overflow-x: hidden;}
    .container {
        width: 450px;
    }
    .github-rep {
        width: 100%;
    }
    .footer-content{
        min-width: 110%;
    }
   
    .footer-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin-left: 30px;
        padding: 30px;
    }
    .media {
        display: flex;
        flex-direction: column;
    }
    body {
        font-size: 85%;
        white-space:nowrap;
    }
}
@media screen and (max-width:450px){
    .container {
        width: 360px;
    }
    .github-rep p{
        font-size: 16px;
    }
    body {
        font-size: 80%;
        white-space:nowrap;
    }
    .surname {
        font-size: 17px;
    }
    .light-dark img{
        width: 15px;
    }
    .bio p {
        overflow: hidden;
        width: 170px;
        text-overflow: ellipsis;
    }
    .footer-content {
        font-size: 100%;
    }
}